html, body {
    margin: 0;
    margin-bottom: 30px;
  }
html {
    font-size: 16px;
}
header a {
    text-decoration: none;
    color:#F9F7F7;
}
ul a {
    display: inline-block;
    padding: 0.5rem;
    border-radius: 10px;
}
ul a:hover {
    background-color: #3F72AF;
}
.logo {
    font-family: Poppins, sans-serif;
    font-size: 1.5rem;
    color:#F9F7F7;
    padding: 1rem;
    margin: 0;
    font-weight: 200;
}
header div {
    display: flex;
    justify-content: space-between;
    background-color: #112D4E;
    opacity: 100%;
}
header {
    align-items: center;
    position: sticky;
}
.navbar ul {
    list-style: none;
    margin-right: 2rem;
}
.navbar li {
    display: inline;
    
}
.container-vanilla {
    height: 70vh;
    display: flex;
    align-items:end;
    justify-content: space-around;
    background-color: #112D4E;
}
.cover-info {
    align-self:center;
    color: #F9F7F7;
    font-family: Poppins, sans-serif;
    padding: 1rem;
}
.profile-pic {
    max-width:70vw;
    height: auto;
    max-height: 70vh;
}
.cover-info p {
    font-weight: 100;
}
@media (max-width: 900px) {
    .container-vanilla {
        position: relative;
        background-color: #112D4E;
    }
    .cover-info {
        position: absolute;
        height: 66vh;
        width: 100%;
        text-align: center;
    }
    .profile-pic {
        width:450px;
        min-width: 450px;
        height: 50vh;
    }
  }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 24
}
#mail-icon {
    margin-top: 2rem;
}