html {
    font-size: 16px;
}
a {
    text-decoration: none;
    color:#F9F7F7;
}
ul a {
    display: inline-block;
    padding: 0.5rem;
    border-radius: 10px;
}
ul a:hover {
    background-color: #3F72AF;
}
.logo {
    font-family: Poppins, sans-serif;
    font-size: 1.5rem;
    color:#F9F7F7;
    padding: 1rem;
    margin: 0;
    font-weight: 200;
}
header div {
    display: flex;
    justify-content: space-between;
    background-color: #112D4E;
    opacity: 100%;
}
header {
    background-color: gray;
    align-items: center;
}
.navbar ul {
    list-style: none;
    margin-right: 2rem;
}
.navbar li {
    display: inline;
    
}
.container {
    height: 70vh;
    display: flex;
    align-items:end;
    justify-content: space-between;
    background-color: #DBE2EF;
}
.cover-info {
    align-self:center;
    margin-left: 5rem;
}
.profile-pic {
    height: 500px;
}